# API keys and secrets
.env

# Dependency directory
node_modules

# Build
dist

# Cache
data/breweries.json

# Editors
.idea
.vscode

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent